.contenedor{
    background-color: grey;
    display: inline-flex;
    /*display flex deja mas espacio q inline*/
}

.item{
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin: 20px;
    font-size: 25px;
}