.contenedor{
    background-color: blue;
    width: 60%;
    margin: 0 auto;
    height: 600px;
}

.verde{
    background-color: rgb(154, 246, 156);
    width: 90%;
    margin: 0px auto 20px;
    height: 150px;
    position: relative;
    top: 50px;
    left: 50px;

}

.celeste{
    background-color: rgb(130, 220, 238);
    width: 90%;
    margin: 0px auto 20px;
    height: 150px;

}

.amarillo{
    background-color: rgb(227, 249, 139);
    width: 90%;
    margin: 0px auto 20px;
    height: 150px;

}

